.card-wrap {
    background-color: #0002;
    display: grid;
    height: 100vh;
    left: 0;
    place-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.card {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 8px 4px #0002;
    width: clamp(25ch, 50%, 50ch);
}

.card-header {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
}

.card-body {
    padding: 0.5rem;
    max-height: 400px;
    overflow-y: auto;
}

.card-footer {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: 1px solid #eee;
    padding: 0.5rem;
}