.fixed-message {
    position: fixed;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
}

.super-centered {
    display: grid;
    height: 100vh;
    place-items: center;
}

.buttons {
    display: flex;
    gap: 1rem;
}